<div class="major footer">
  <h4>
    <a href="{% url 'home' %}" class="nav-link">Home</a>
    <a href="{% url 'experience' %}" class="nav-link">Experience</a>
    <a href="{% url 'about' %}" class="nav-link">About</a>
  </h4>
  <div id="footer-spacer"></div>
  <a href="mailto:will.s.howell@gmail.com"><span class="ti-email social"></span></a>
  <a href="https://www.linkedin.com/in/willshowell"><span class="ti-linkedin social"></span></a>
  <a href="https://twitter.com/wshowell"><span class="ti-twitter social"></span></a>
  <a href="https://github.com/willshowell"><span class="ti-github social"></span></a>
</div>
