{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}
<header>
  <div class="title">
    <h1>About</h1>
  </div>
</header>
<article class="major first" style="padding-top: 15px;">
  <p>
    Hi, I'm Will! I'm a full stack engineer in Raleigh.
    I graduated a few summers ago <span class="italics">summa cum laude</span> 
    with a dual degree in electrical and computer engineering.
  </p>
  <p>
    I'm a big fan of clean design with high attention to detail, both visually 
    and structurally. I love building products that are efficient and pleasant 
    to use, and I love thinking about what the end user will expect and how 
    they'll feel.
  </p>
  <p>
    I really love design, but coding is too damn fun. Maybe one day I'll make
    the switch. For now, I'm obsessed with learning as much as possible. I 
    learn quickly and become <span class="italics">consumed</span> with new 
    problems <span id="and">&</span> frameworks until I feel I've got a solid 
    grasp on them. Currently I'm increasing my breadth of knowledge of both 
    front-end and back-end web development.
  </p>
  <p>
    Previously, I've worked with a couple of <a href="experience.html">startups</a>,
    leading electrical and firmware development. I was also once really into
    <a href="https://vimeo.com/willhowell/placelikehome">cinematography and editing</a>.
  </p>
  <p>
    If you have something you'd like to work on together, let's talk!
  </p>
  <p>
    I'm currently <a href="mailto:will.s.howell@gmail.com">availble for freelance and contract work</a>.
  </p>
</article>
{% endblock %}
