{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}
  <section class="pa3 ph4-ns">
    <div class="measure center">
      <h1 class="f3 f2-ns mb3">{{ post.title }}</h1>
      {% if view_count != None %}
      <small class="ma0">[{{ view_count }} view{{ view_count|pluralize }}]</small>
      {% endif %}
      <h5 class="fw6 i mt3 mid-gray">{{ post.pub_date|date:"D M j, Y" }}</h5>
      <div class="lh-copy">{{ post.get_markdown }}</div>
    </div>
  </section>
  {% if prev_post or next_post %}
  <section class="mw7 center pa3">
    {% if prev_post %}
    <a href="{% url 'blog_post' prev_post.slug %}">
      <div class="fr tr w-50 mw5-ns">
        <h3 class="mb2 dark-gray">Older</h3>
        {{ prev_post.title }}
      </div>
    </a>
    {% endif %}
    {% if next_post %}
    <a href="{% url 'blog_post' next_post.slug %}">
      <div class="fl tl w-50 mw5-ns">
        <h3 class="mb2 dark-gray">Newer</h3>
        {{ next_post.title }}
      </div>
    </a>
    {% endif %}
  </section>
  {% endif %}
{% endblock %}
