{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}
  {% if posts %}
  <section class="mw6 center bg-near-white pa3 ph4-ns">
    <h1>Blog Posts</h1>
    <ul class="lh-copy">
      {% for post in posts %}
      <li>
        <a class="link dim" href="{% url 'blog_post' post.slug %}">{{ post.title }}</a>
        {% if user_auth == True %}
        <small class="ma0 ml2">[{{ post.view_count }} view{{ post.view_count|pluralize }}]</small> 
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
  {% else %}
  <p class="tc">There are no blog posts to display.</p>
  {% endif %}
{% endblock %}
