{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}
<header class="pos-bottom">
  <div class="title">
    <h1>Will</h1>
    <h1>Howell</h1>
  </div>
  <h4>Engineer <span class="ultralight">|</span> Raleigh</h4>
</header>

<article class="projects">
  <h3 id="projects-header">Projects</h3>
  
  {% if projects %}
  	{% for project in projects %}
    <section class="project-section col-{% if forloop.counter0|divisibleby:2 %}left{% else %}right{% endif %}">
      <a href="{% url 'project_detail' project.id %}">
        <div id="" class="project" style="{% if project.background_image %}
        {% load static %}
        background-image: url('{{ project.background_image }}');
        {% endif %}
        {% if project.background_color %}
        background-color: {{ project.background_color }};
        {% endif %}
        ">
        </div>
        <h5>{{ project.title }}</h5>
      </a>
    </section>
    {% endfor %}
  {% else %}
  	Sadly, there aren't any projects to display right now.
  {% endif %}
</article>

<article class="more">
	<h3>More</h3>
	<ul>
		<li><a href="{% url 'experience' %}">Professional Experience</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</article>
{% endblock %}
