{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}

<section class="ph3 mw6 center">
  {% if projects %}
      <div class="flex flex-row flex-wrap justify-center">
  	{% for project in projects %}
    <a href="{% url 'project_detail' project.id %}">
      <div class="ma2 grow w4 h4 bg-mid-gray project-cover"
        style="{% if project.background_image %}
          {% load static %}
          background-image: url('{{ project.background_image }}');
          {% endif %}
          {% if project.background_color %}
          background-color: {{ project.background_color }};
          {% endif %}

          ">

      </div>
    </a>
    {% endfor %}
    </div>
  {% else %}
  	Sadly, there aren't any projects on display right now.
  {% endif %}
</section>

{% endblock %}
