{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}
<header>
  <div class="title">
    <h3>{{ project.title }}</h3>
  </div>
  <h5>{{ project.tagline }}</h5>
</header>

<article>
	{% if project.source_url %}
	<p><a href="{{ project.source_url }}">Source code ></a></p>
	{% endif %}
	
	{% if project.project_url %}
	<p><a href="{{ prroject.project_url }}">Check it out ></a></p>
	{% endif %}
	
	{% if project.description %}
  <p>{{ project.description|linebreaksbr }}</p>
	{% endif %}
</article>
{% endblock %}
