{% extends 'portfolio/partials/base_page.html' %}

{% block page_content %}
    <!-- Pagination -->
    <div class="pagination">
      <!-- previous -->
      {% if prev %}
      <a class="link black" href="{% url 'project_detail' prev.id %}">
        <div class="fl pa3 w4 tc ba ml3 pagination-wrap">
          <div class="pagination-arrow-left"></div>
          <div class="mv0 pagination-text-left">Prev</div>
        </div>
      </a>
      {% endif %}

      <!-- next -->
      {% if next %}
      <a class="link black" href="{% url 'project_detail' next.id %}">
        <div class="fr pa3 w4 tc ba mr3 pagination-wrap">
          <div class="pagination-arrow-right"></div>
          <div class="mv0 pagination-text-right">Next</div>
        </div>
      </a>
      {% endif %}
    </div>

    <!-- Project -->
    <section class="mw6 center bg-near-white pa3 ph4-ns">
      <!-- title -->
      <h1 class="mb2">{{ project.title }}</h1>
      <h5 class="black-50 mt2 mb3">{{ project.tagline }}</h5>

      <!-- tech used -->
      {% if project.technologies %}
      <div class="ttu f6 tracked fw6 black-70">{{ project.technologies|join:", " }}</div>
      {% endif %}

      <!-- external links -->
      {% if project.project_url %}
      <a target="_blank" class="f6 grow no-underline ph3 pv2 mv3 mr2 dib white bg-navy" style="background-color: {{ project.background_color }};" href="{{ project.project_url }}">Check it out!</a>
      {% endif %}
      {% if project.source_url %}
      <a target="_blank" class="f6 no-underline ba ph3 pv2 mv3 dib black bg-white-50" style="color: {{ project.background_color }};" href="{{ project.source_url }}">Source code</a>
      {% endif %}

      <!-- description -->
      {% if project.description %}
      <hr class="b--black-10 w-60 mv4">
      <p class="measure lh-copy">{{ project.description|safe|linebreaksbr }}</p>
      {% endif %}

      <!-- gallery -->
      {% if images %}
        {% include 'portfolio/partials/photoswipe.html' %}
      {% endif %}
    </section>

{% endblock %}
