/*************************
Base Styles
*************************/
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  -webkit-font-smoothing: antialiased;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
::-webkit-scrollbar {
  display: none;
}
ol, ul {
  list-style: none;
  padding: 0;
}
li {
  margin-top: 8px;
  font-size: 24px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #0881b3;
  border-bottom: 1px solid transparent;
}
a:hover {
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-bottom: 1px solid;
}


/* Fonts */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
}
h1 {
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.88);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
h2 {
  font-size: 48px;
  color: rgba(0,0,0,0.8);
}
h3 {
  font-size: 32px;
  color: rgba(0,0,0,0.7);
  font-weight: 300;
  margin-bottom: 16px;
}
h4 {
  font-size: 24px;
  color: rgba(0,0,0,0.6);
  font-weight: 300;
  margin-bottom: 16px;
}
h5 {
  font-size: 16px;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 8px 0;
  text-transform: none;]
}
p {
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
}
.ultralight {
  opacity: 0.2;
}

/* General */
.container {
  padding: 0 16px;
  max-width: 1000px;
  margin: 0 auto;
}
.container-slim {
  max-width: 760px;
  margin: 0 auto;
}
section {
  padding-top: 64px; 
  overflow: auto;
}

/* Header */
.title {
  margin-bottom: 16px;
}
.pos-bottom {
  /*padding-top: calc(100vh - 184px - 60px); */
  /*padding-top: calc(100vh - 124px - 69px - 159px);*//* 69 is for safari bar */
  margin-top: calc(100vh);
  transform: translateY(calc(-1 * (100% + 16px)));
}

/* Footer */
footer {
  margin: 32px 0;
  text-align: center;
  opacity: 0.7;  
}


/* Projects */
.project { 
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  height: 128px;
  border-radius: 6px;
}
.project-section {
  margin: 8px 0;
  padding-top: 0px; 
  width: 100%;
  text-align: center;
}
.col-left {
  float: left;
}
.col-right {
  float: right;
}
a.button {
  background-color: #bbb;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 8px 8px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
a.button:hover {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* About page */
.about-image {
  float: left;
  margin: 8px 16px 0px 0px;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 570px) {
  .project-section {
    width: calc(50% - 8px);
  }
}