/* 
 * Make the footer sticky to the 
 * bottom of the page.
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}

/*
 * Make those anchors beautiful.
 */
a {
  text-decoration: none;
  color: #2f7ee7;
}
p a:hover {
  text-decoration: underline;
}

/*
 * Set the project image in the center
 * of the project div.
 */
.project-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem;
}

/* Give a little sex appeal to the description */
hr {
  border-style: solid;
  border-bottom: none;
}

/* Make me beautiful */
.about-image {
  height: 11rem;
  background-size: cover;
}

/*
 * Put the pagination arrows and 
 * text in the perfect position.
 */
.pagination-wrap {
  position: relative;
}
.pagination-arrow-left {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right:10px solid black; 
}
.pagination-arrow-right {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}
.pagination-text-left {
  position: relative;
  left: 5px;
}
.pagination-text-right {
  position: relative;
  right: 5px;
}


/* Stop shrinking the .grow class on click*/
.grow:active {
  transform: scale(1.05);
}

/*
 * Allow the pagination buttons to clear
 * and reach full width once the screen
 * size gets smaller than the project
 * box.
 */
@media screen and (max-width: 50rem) {
  .pagination {
    zoom: 1;
    margin-bottom: 2rem;
  }
  .pagination:before,
  .pagination:after {
    content: " ";
    display: table;
  }
  .pagination:after {
    clear: both;
  }
  .pagination a > div {
    //width: 40%;
  }
}
